<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuxUTIFa5d1Rye0xhXbEetYGjaSWhu38k</string>
	<key>GCM_SENDER_ID</key>
	<string>956000812695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosmaster.com.AuthorisationApp</string>
	<key>PROJECT_ID</key>
	<string>authorisationapp-c38c6</string>
	<key>STORAGE_BUCKET</key>
	<string>authorisationapp-c38c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956000812695:ios:d1b084e478d4aa9fa1f3d2</string>
</dict>
</plist>